<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.thebluediamondgallery.com/typewriter/images/currency.jpg" height="500" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-center">Всички валути на едно място</h3>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img src="https://www.picpedia.org/chalkboard/images/currency.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Какво е валута</h5>
                <p class="card-text">
                    Валутата е всяка парична единица,
                    използвана като разчетно средство между централните банки или на
                    международния пазар. Тя е парична форма, която улеснява размяната на стоки и услуги
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2017-12/07/full/1512661453-0651.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Валутен курс</h5>
                <p class="card-text">
                    Валутният курс определя колко е стойността на дадена валута по отношение на друга,
                    тоест стойността на чуждестранна национална парична единица към местната национална парична единица.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="https://www.picpedia.org/keyboard/images/currency-trading.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Валутен пазар</h5>
                <p class="card-text">
                    Необходимостта от правила за работа с различните валути произтича от факта, че
                    международните операции се извършват с различни национални валути. Операциите с различни валути, участващи
                    в тези финансови или реални сделки, се осъществява на валутните пазари.
                </p>
            </div>
        </div>
    </div>
</div>
